.library-h3{
    margin-bottom: 20px;
    font-size: 36px;
}

.library {
  width: 100%;
  padding: 20px;
  backdrop-filter: blur(12px);
  background-color: rgba(255,255,255,0.05);
  border-radius: 15px;
  box-shadow: 0 8px 50px rgba(0,0,0,0.4);
}


.library .game-library {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
}


.library .game-library .game-card {
  background-color: rgba(255,255,255,0.05);
  backdrop-filter: blur(12px);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 8px 50px rgba(0,0,0,0.4);
  padding-bottom: 20px;
}

.library .game-library .game-card .game-name {
  font-size: 22px;
  text-align: center;
  color: #fff;
  margin: 10px 0;
}


.library .game-library .game-card .game-image {
  width: 100%;
  position: relative;
}

.library .game-library .game-card .game-image span {
  display: block;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 10px;
}

.library .game-library .game-card img {
  width: 100%;
  border-radius: 10px;
}

.library .game-library .game-card .discreption {
  line-height: 1.6;
  color: #fff;
  text-align: center;
  font-size: 16px;
  margin: 15px 0;
}

.library .game-library .game-card .progress {
  height: 28px;
  background-color: #ccc;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

.library .game-library .game-card .complet-pct {
  display: block;
  background-color: #ff6b27;
  border-radius: 15px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  transition: width 0.5s ease;
}
