.content-steven{
    flex: 1;
    padding: 20px;
    background: var(--bg-dark);
    transition: var(--transition);
    min-height: 100vh;
    width: calc(100% - 240px);
    margin-left: 240px;
}

h2 {
    padding: 0 20px 20px 0;
    font-size: 30px;
}

.btn {
    padding: 12px;
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition);
    margin-top: 10px;
}

.btn:hover{
    transform: translateY(-2px);
    background: rgb(255, 85, 0);
    box-shadow: 0 5px 15px rgba(255, 107, 29, 0.4);
}


.Type_games {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}

.Games-cards {
    display: flex;
    padding: 20px 20px;
    gap: 20px;
    overflow: auto;    
}

.Games {
    flex-shrink: 0;
    background: #000000;
    border-radius: 18px;
    overflow: hidden;
    transition: 0.3s;
    cursor: pointer;
    border: 2px solid transparent;
}

.Games:hover {
    transform: scale(1.05);
    border-color: #ff6b27;
    box-shadow: 0 0 20px #ff6b27;
}

.Games .thumb {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.Games span {
    padding: 15px;
    font-size: 20px;
    margin: 0;
}

.card-footer {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.price-badge {
    background: var(--primary-color);
    padding: 6px 10px;
    border-radius: 10px;
    font-weight: 700
}

.card-actions {
    display: flex;
    gap: 8px;
    align-items: center
}

.card-name {
    padding-top: 5px;
    font-weight: 600;
}

.small-icon {
    width: 22px;
    height: 22px;
    object-fit: contain;
    opacity: .95;
    transition: 0.3s;
}

.small-icon:hover {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    background-color: #4343359d;
}

.Games-cards.view-all{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}
