body {
    background: #0f0f0f;
    color: white;
    font-family: "Outfit", sans-serif;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 40px;
}

.order-summary {
    background: #1a1a1a;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.order-summary img {
    width: 180px;
    border-radius: 10px;
}

.order-info h2 {
    margin-bottom: 10px;
}

.price {
    color: #ff6b27;
    font-size: 20px;
    font-weight: bold;
}

form {
    background: #1a1a1a;
    padding: 25px;
    border-radius: 12px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background: #111;
    border: 1px solid #333;
    color: white;
    border-radius: 6px;
}

button {
    width: 100%;
    padding: 12px;
    background: #ff6b27;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
