.yasser-content{
    flex: 1;
    padding: 20px;
    background: var(--bg-dark);
    transition: var(--transition);
    min-height: 100vh;
    width: 100%;
}

.all{
  display: flex;
  flex-direction: row;
  width:100%;
  height:auto;
  gap:5px;
  border-radius: 5px;
  justify-content: space-between;
  padding: 20px;
}

.cards{
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  width: 60%;
  margin-left:20px;
  padding-top:10px;
  gap:10px;
  
}
.card1{
  display :flex;
  width:800px;
  height:auto;
  color:white ;
}
.card1 h2{
   margin:0px 50px;
}
.card1 img{
  width:200px;
  height:200px;
  border:var(--primary-color) solid 2px ;
}

.seperator{
  width:800px;
  height:35px;
  background-color:var(--primary-color);
  color:white;
  text-transform: capitalize;
  padding-left:10px;
  display:flex;
  align-items:center;
  margin-left:-10px;
  
  font-size:15px;
  margin-bottom: 20px;
  border-radius:5px;
}
.side-card{
  display: flex;
  flex-direction: column;
  color: white;
  width:600px;
  height:autopx;
  text-transform: capitalize;
  padding-left:5px;
  margin-right:10px;
  gap:20px;
  
}
.profile-btn{
  background: var(--primary-color);
  width:170px;
  height:50px;
  border-radius:30px;
  box-shadow: 0 8px 30px  rgba(255,140,0,0.6);
  border:rgb(255,140,0);
  text-transform:capitalize;
  font-weight:450;
  font-size:16.5px;
  margin-left:-10px;
  margin-bottom:10px;
}
.xp{
  display: flex;
  gap:9px;
}
.xp img{
  width:50px;
  height:50px
}
.offline {
  width:300px;
  height:100px;
  padding-top:2px;
  font-weight:20;
  
}
.discription2{
  margin-top:-10px
}

h5{
  display:inline-block;
}



.count{
  background-color: var(--primary-color);
  color:var(--text-color);
  margin-left:25px;
  border-radius: 2px;
  font-size:15px;
  font-weight:normal;
  padding:2px 8px;
}
.profile-items img
{
  width:50px;
  height:50px
}
.friends-section{
  display: flex;
  gap:10px;
  flex-direction: row;
  
}

.friends{
  display: flex;
  flex-direction:column;
  gap: 10px;
}

.friends img{
    width:75px;
    height:75px;
 }

.names{
  display:flex;
  flex-direction: column;
  padding-left:10px;
  justify-content:space-between;
  padding-right:60px;
  text-transform:capitalize;
}

.card2{
  display:flex;
  width: 800px;
  height:auto;
  color:white;
  flex-direction: row;
  gap:20px;
}

.card2 img{ 
  width:300px;
  height:300px;
  border-radius:5px;
  
  
}

.text{
  display:flex;
  flex-direction:column;
  
  
}

.favourite-guide{
  margin-top:10px;
  font-weight:400;
  font-size:30px;
  text-transform: capitalize;
}

.name{
  font-weight: 500;
  padding:0 8px;
}

div.discription{
  font-weight: bold;
  font-size:15px;
  line-height: 1.5;
  margin-bottom:30px;
  
}

.card3{
  display:flex;
  flex-direction:column;
  gap:30px;
  width:850px;
  height:auto;
  color: white;
  
  
}


.badges img{
  width:100px;
  height:100px;
  
}
.badges-state{
  display:flex;
  flex-direction: row;
  gap:30px;
  
  
  
}

#num{
  margin:0px 5px -15px;
  font-size:28px;
  font-weight:400;
  
}
 
.earned{
  font-weight:300;
  text-transform: capitalize;
  
}
.card4{
  display: flex;
  flex-wrap: wrap;
  gap:30px;
  height:300px
}
.card4 img{
  width:100px;
  height:100px;
  border-radius:3px
}



