.login-section{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.login-box{
    position: relative;
    width: 400px;
    height: 450px;
    border: 2px solid var(--primary-color);
    background: var(--bg-dark);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(255, 107, 39, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    
    h2{
        text-align: center;
        font-size: 2rem;
        color: var(--text-color);
    }

    .input-box{
        position: relative;
        width: 310px;
        margin: 30px 0;
        border-bottom: 2px solid var(--text-color);
    }


    .input-box label{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        color: #ffffff;
        font-size: 1rem;
        pointer-events: none;
        transition: 0.5s;
    }

    .input-box input:focus ~ label,
    .input-box input:valid ~ label{
        top: -5px;
    }

    .input-box input{
        width: 100%;
        height: 50px;
        background: transparent;
        border: none;
        outline: none;
        font-size: 1rem;
        color: var(--text-color);
        padding: 0 35px 0 5px;
    }

    .input-box .icon{
        position: absolute;
        right: 8px;
        color: var(--text-color);
        font-size: 1.2em;
        line-height: 58px;
        color: var(--text-color);
    }

    .remember-forgot{
        margin: -15px 0 15px;
        font-size: 0.9rem;
        color: var(--text-color);
        display: flex;
        justify-content: space-between;
    }

    .remember-forgot label input{
        margin-right: 3px;
    }

    .remember-forgot a{
        color: var(--text-color);
        text-decoration: none;
        transition: all 0.4s ease;
    }

    .remember-forgot a:hover{
        text-decoration: underline;
        color: var(--primary-color);
        transform: scale(1.1);
    }

    button{
        width:100%;
        height: 40px;
        background: var(--primary-color);
        border: none;
        outline: none;
        border-radius: 40px;
        cursor: pointer;
        font-size: 1rem;
        color: var(--text-color);
        font-weight: bold;
    }

    .register-link{
        padding-top: 15px;
        text-align: center;
        font-size: 0.9rem;
        color: var(--text-color);
    }

    .register-link a{
        color: var(--text-color);
        text-decoration: none;
        font-weight: bold;
        transition: all 0.4s ease;
    }

    .register-link a:hover{
        text-decoration: underline;
        color: var(--primary-color);
        transform: scale(1.1);
    }
}

@media (max-width: 765px){
    .login-box{
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: 0;
    }
}