.content.full {
    margin-left: 0;
}


.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.top-left{
    display: flex;
    align-items: center;
    gap: 34px;
}

.search{
    width: 300px;
    padding: 12px 15px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.05);
    color: var(--text-color);
    font-size: 14px;
    transition: var(--transition);
}

.search:focus{
    outline: none;
    border-color: var(--primary-color);
    background: rgba(255, 255, 255, 0.08);
}

.search::placeholder{
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
}

.top-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.mainBtn{
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: var(--text-color);
    cursor: pointer;
    transition: var(--transition);
    display: flex;
    align-items: center;
    justify-content: center;
}

.signInBtn, .profileBtn{
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: var(--transition);
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
}

.signInBtn{
    background: var(--primary-color);
    color: white;
}

.profileBtn{
    background: rgba(255, 255, 255, 0);
    color: var(--text-color);
}

.mainBtn:hover{
    background: rgba(255, 107, 39, 0.2);
    color: var(--primary-color);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(255, 107, 39, 0.3);
}

.profileBtn:hover{
    color: var(--primary-color);
    transform: translateY(-2px);
    text-shadow: 0 5px 15px rgba(255, 107, 39, 0.3);
}

.signInBtn:hover{
    background: #ff5722;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(255, 107, 39, 0.3);
}
